

tr.Insurance_com_td td:first-child {
    width: 65px;
}

tr.Insurance_com_tr th:first-child {
    width: 65px;}



@media (max-width: 767px){

tr.Insurance_com_td td:first-child {
    width: 26px;
}

tr.Insurance_com_tr th:first-child {
    width: 26px;
}

.fintech_companies p {
    padding-bottom: 12px;
    font-size: 12px;
}

}