.personalloan_row {
  display: flex;
}
p + p {
  padding-top: 10px;
}
.personalloan_left {
  width: 50%;
  padding-right: 20px;
}
.personalloan_right {
  width: 50%;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}
.personalloan_right img {
  width: 90%;
  display: block;
}
.personalloan h2 {
  font-size: 40px;
  margin-top: 0;
}
.personalloan_left p {
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
}
.loan_criteria_left ul {
  display: block;
}
.loan_criteria_left {
  display: flex;
}
.loan_criteria_left ul li {
  border-bottom: 1px solid;
  list-style: auto;
  padding-bottom: 14px;
}
.loan_criteria_row h2 {
  margin-top: 0;
  margin-bottom: 3px;
  border-bottom: 1px solid;
  width: fit-content;
}
.loan_criteria {
  margin: 28px 0px;
}
.loan_criteria_left ul li h4 {
  margin: 14px 0px;
}

/* gold loan */

.loan_criteria_left_row {
  display: flex;
  flex-flow: wrap;
}
.loan_criteria_left_cover {
  width: 50%;
  padding-right: 20px;
}
.loan_criteria_right_cover {
  width: 50%;
  padding-left: 20px;
}
.loan_criteria_left_cover div {
  padding-bottom: 10px;
}
.loan_criteria_right_cover div {
  padding-bottom: 10px;
}
.loan_criteria_left_cover h2 {
  margin-bottom: 30px;
}
.loan_criteria_right_cover h2 {
  margin-bottom: 30px;
}
.loan_criteria_left_cover div p {
  margin: 15px 0px;
}
.loan_criteria_right_cover div p {
  margin: 15px 0px;
}

/* end gold loan */

/* business loan */

.Criteria_box {
  width: calc(100% / 3 - 20px);
  margin: 10px;
  border: 1px solid;
  padding: 15px;
  border-radius: 10px;
}
.types_of_homeloan {
  display: flex;
  flex-flow: wrap;
  margin: 0 -10px;
}

/* end business loan */

/* home loan */

section {
  padding: 30px 0px;
}
.personalloan_left h2 {
  margin-top: 0;
}
.typeof_box {
  width: calc(100% / 2 - 20px);
  margin: 10px;
  border: 1px solid;
  padding: 15px;
  border-radius: 10px;
}
.typeof_box_inner span p {
  padding: 10px;
}

.typeof_box_inner span li {
  list-style: none;
}

/* end home loan */

@media (max-width: 767px) {
  .personalloan_row {
    flex-flow: wrap;
  }
  .personalloan_left {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .personalloan_right {
    width: 100%;
    padding-left: 0;
  }
  .loan_criteria_left ul li p {
    text-align: justify;
  }

  /* gold loan */

  .loan_criteria_left_cover {
    width: 100%;
    padding-right: 0;
  }
  .loan_criteria_right_cover {
    width: 100%;
    padding-left: 0;
  }

  /* end gold loan */

  /* business loan */
  .Criteria_box {
    width: 100%;
  }
  /* end business loan */

  /* home loan */
  .typeof_box {
    width: 100%;
  }
  /* end home loan */
}
