.search-container button {
  padding: 8px 16px;
}


h1.FM_h1 {
  color: #3c3f57;
  font-size: 65px;
  text-shadow: 1.5px 1.5px #9ba4af91;
  margin: 0;
}

p.FM_p {
  font-size: 14px;
  color: #ababab;
}

.FM_header {
  text-align: center;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  width: 50%;
}

.search_row {
  display: flex;
  flex-flow: row-reverse;
  padding-top: 40px;
}

.search-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
  outline: none;
}

.search-container button {
  padding: 10px 20px;
  border: none;
  background-color: #877b9f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #5c5157;
  color: white;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid #d9d3d3;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(194, 183, 183, 0.329);
  width: calc(100% / 3 - 20px);
  box-sizing: border-box;
  height: 125px;
  padding: 14px;
  width: 100%;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #0f0f0f;
  font-size: 14px;
  height: 20px;
}

.card-body p {
  margin: 5px 0;
}

.card-body p strong {
  display: inline-block;
  width: 100px;
}

span.prc {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  color: #202020;
}

span.mrgn {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  color: #202020;
}

p {
  font-size: 14px;
  color: #323232;
}


table.futureoption_table {
  width: 100%;
}

thead.futureoption_thead {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0 38px;
}

tbody.futureoption_tbody {
  border-spacing: 0 13px;
  display: table;
  table-layout: fixed;
  width: 100%;
}



thead.futureoption_thead tr.futureoption_thead_trow {
  box-shadow: 2px 4px 28px 0px #00000040;
}

tr.futureoption_thead_trow th:first-child {text-align: left;}

thead.futureoption_thead tr.futureoption_thead_trow th {
  padding: 25px 15px;
}


tr.futureoption_thead_trow th {
  background-color: #ffff;
  font-size: 16px;
  color: #39393a;
}

tr.futureoption_tbody_trow {
  box-shadow: 0px 4px 6.7px 0px #00000040;
  border-radius: 10px;
  transition: all 0.4s ease;
}

tr.futureoption_tbody_trow td:first-child {
  text-align: left;
}

tr.futureoption_tbody_trow td {
  font-size: 14px;
  color: #424242;
  padding: 15px;
}


tr.futureoption_tbody_trow td:first-child {
  width: 350px;
}

tr.futureoption_thead_trow th:first-child {
  width: 350px;
}
@media (max-width: 991px)  {
  tr.futureoption_tbody_trow td:first-child {
    width: 200px;
}

tr.futureoption_thead_trow th:first-child {
    width: 200px;
}
}

@media (max-width: 767px) {
  .dashboard_FnO {
    overflow: scroll;
  }
  h1.FM_h1 {
    font-size: 35px;
}
  table.futureoption_table {
    width: 1000px;
  }
  tr.futureoption_tbody_trow td:first-child {
    width: 150px;
}

tr.futureoption_thead_trow th:first-child {
    width: 150px;
}
  thead.futureoption_thead {border-spacing: 0 18px;}

  tr.futureoption_thead_trow {box-shadow: none!important;}
  
  tr.futureoption_tbody_trow {
      box-shadow: none;
  }
}
