footer {
  background: #636363;
  padding: 10px 0px;
  margin-top: 60px;
}
.footer_after_line {
  position: relative;
}
.footer_after_line:after {
  position: absolute;
  content: "";
  bottom: -7px;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 1px solid#d8d5d5;
  width: 0;
  transition: all 0.4s ease;
  margin: 0 auto;
}

.footer_after_line:hover:after {
  width: 100%;
}
.footer_top {
  display: flex;
  flex-flow: wrap;
  border-bottom: 1px solid #ffffff;
  align-items: center;
}
.footertop_left {
  width: 100%;
}

.footer_bottom {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer_logo a {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.footer_logo {
  position: relative;
}
.footer_content p {
  color: white;
  font-weight: 100;
}
.footer_links {
  display: flex;
  flex-flow: wrap;
}

.footer_card {
  margin: 20px;
  width: calc(100% / 7 - 20px);
  padding: 0px 0px;
}

.footer_card ul {
  display: block;
  margin-top: 10px;
}

li.footercard_links a {
  text-decoration: none;
  transition: all 0.4s ease;
  color: #e0e0e0;
  font-size: 14px;
}
li.social_icon a span {
  display: flex;
}

li.footercard_links {
  padding: 5px 0px;
  display: block;
}

.footer_card h3 {
  color: rgb(229, 229, 229);
  margin: 0;
  border-bottom: 1px solid;
  width: fit-content;
}

ul.footer_ul {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

li.footer_li {
  display: inline-block;
  padding-right: 10px;
}

li.social_icon {
  display: inline-block;
}

li.social_icon .si {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}
a.si span svg path {
  fill: white;
}
.footer_content p a {
  text-decoration: none;
  color: white;
  transition: all 0.4s ease;
}

.footer_content p a:hover {
  color: #fb773c;
}
@media (max-width: 991px) {
  .footer_bottom {
    flex-flow: column-reverse;
  }
  .footer_card {
    padding: 0 10px;
  }
  .footer_content p {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  footer {
    margin-top: 30px;
  }
  .footer_card {
    width: calc(100% / 2 - 20px);
    margin: 20px 10px;
  }
}
