
li.dropdown {
  position: relative;
  padding: 5px 0;
  color: #303030;
}
.Navbar1 {
  padding: 15px 0px;
}

.Navbar2 {
  padding-bottom: 15px;
}

ul.nav_ul li a {
  text-decoration: none;
  color: #303030;
}

ul.nav_ul {
  justify-content: flex-start;
  gap: 80px;
}

.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 9;
}

.header-left a {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}


.header-left {
  position: relative;
}


.top_header {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  padding: 10px 0px;
}

.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(57, 56, 56);
}

.Nav_toggle {
  display: none;
}


.header-left img {
  display: block;
  width: 175px;
}

.create p {
  font-size: 10px;
}

.create a {
  position: absolute;
  right: 0;
  left: 15px;
  top: 25px;
  bottom: 0;
  opacity: 0;
}

.create svg {
  width: 100px;
}

.create {
  padding-left: 16px;
  position: relative;
}

.header-left h1 {
  margin: 0;
}

.header-center_ {
  padding-right: 50px;
}

.header-center {
  background-color: #cbbdbd;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 450px;
  box-shadow: 0 2px 4px rgba(86, 86, 86, 0.1);
  margin-left: 70px;
}

.header-center input {
  border: none;
  outline: none;
  flex-grow: 1;
  border-radius: 25px;
  padding: 12px;
  font-size: 16px;
}

.header-center input::placeholder {
  color: #aaa;
}

.header-center input:focus {
  background-color: #fff;
}

.header-right {
  display: flex;
  align-items: center;
}

.signin-button {
  padding: 10px 20px;
  background-color: #fff;
  color: #69645d;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.signin-button:hover {
  background-color: #bdabab;
  color: #fff;
}

.headerleft_cover {
  width: 40%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
}


.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}


.dropdown-menu {
  display: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: max-content;
  list-style-type: none;
  padding: 0;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 23px;
  flex-direction: column;
  border-radius: 20px;
}

.dropdown-menu li {
  width: 100%;
}

li.dropmenu-li{
  padding: 10px;
}
.dropdown-menu li a {
  padding: 10px 15px;
  color: #303030;
}

.nav_ul li:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.dropdown .faCaretDown {
  margin-left: 8px;
}

li a.active {
  color: #fc915f !important;
}

@media (max-width: 991px) {

  .header-center input {
    padding: 8px;
    font-size: 14px;
  }

  .signin-button {
    padding: 8px 15px;
  }
  section.Nav_bottom,
  section.Nav_top {
    padding: 10px;
  }
  ul.nav_ul {
    gap: 30px;
}
}

@media (max-width: 767px) {
  .menu-toggle {
    display: block;
    float: right;
  }

  ul.nav_ul.open {
    display: flex;
  }

  ul.nav_ul li a {
    display: block;
    padding: 10px;
    color: #000;
  }
  .navbar_row {
    height: 0;
}
  ul.nav_ul {

    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    background-color: #f8f8f8;
    gap: 10px;
  }

  ul.nav_ul li {
    display: block;
    padding-right: 0;
    margin: 5px 0;
    text-align: left;
    border: 1px solid #ccc;
    color: #000;
  }
  li.dropdown {
    padding: 10px;
}
  section.Nav_bottom,
  section.Nav_top {
    padding: 10px 0;
  }

  section.Nav_bottom {
    position: absolute;
    right: 0;
    left: auto;
    top: 9px;
    width: 100%;
    z-index: 9999;
  }

  .navbar {
    text-align: center;
  }

  section.Indices {
    padding-top: 20px;
  }
  .Nav_toggle{
    display: block;
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 10;
  }

  .Nav_bottom {
    display: none;
  }

  .Nav_bottom.open {
    display: flex;
    position: relative;
  }

  .Nav_bottom .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 1;
   
  }
  ul.dropdown-menu {
    margin: 0;
    background: #ffffff;
    box-shadow: none;
    z-index: 2;
    top: 46px;
}
li.dropmenu-li {
    width: 97%;
    padding: 0;
}

  .headerleft_cover {
    width: 70%;
    flex-flow: nowrap;
  }

  .header-left img {
    width: 130px;
  }
  .Navbar1 {
    padding: 0;
}

.Navbar2 {
    padding: 0;
}
}