.tmf_card_row {
   display: flex;
   flex-flow: column;
}

 .tmf_card {
   border: 1px solid #e0e0e0;
   border-radius: 8px;
   width: 300px;
   overflow: hidden;
 }
 .trmfl {
  overflow-y: scroll;
  scrollbar-width: none;
  height: 603px;
}

.adv div h4 {
  margin: 5px;
}
 .tmf_card-header_mf {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
 }
 
 .tmf_rank {

   color: black;
   padding: 4px 8px;
   border-radius: 4px;
   font-weight: bold;
   
 }

 .tmf_img_name {
   display: flex;
   align-items: center;
}


 .tmf_amc-logo {
    height: auto;
   margin-right: 10px;
   vertical-align: middle;
 }
 
 .tmf_amc-name {
   font-size: 16px;
   font-weight: bold;
   color: #302c2c;
   margin: 0;
 }
 
 .tmf_card-body {
   color: #302c2c;
 }
 .f_return{
  color: rgb(5, 92, 30)
 }
 .tmf_details div {
   margin-bottom: 8px;
 }

.tmf_card_mf {
 width: 100%;
 margin: 5px auto;
 padding: 10px;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 border: 1px solid rgb(230, 230, 230);

}

.tmf_details {
   display: flex;
   font-size: 14px;
   justify-content: space-between; 
    border-radius: 10px; 
    font-weight: 300;
   
    margin-top: 10px;
 } 

.Aum_Nav {
 display: flex;
 justify-content: space-between;
 padding: 12px 0px;
 font-size: 14px;
 color: #302c2c;
 border-top: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 margin-top: 7px;
}
h3.trmf {
   margin-top: 0;
}
span.trmf {
 margin-top: 16px;
 font-size: 21px;
}
@media (max-width: 991px) {


.tmf_amc-name {
    font-size: 12px;
}

.Aum_Nav {
    font-size: 10px;
}

.tmf_details {
    font-size: 10px;
}
}


@media (max-width: 767px){
  .tmf_details{
    gap: 5px;
    font-size: 14px;
  }
  .adv div h4 {
    margin: 10px 0px;
}

.tmf_amc-name {
    font-size: 16px;
}

.Aum_Nav {
    font-size: 16px;
}


}