img.sticker1 {
    width: 100%;
    height: 105px;
    padding-top: 23px;
}

.equity_description {
    width: 55%;
}

.after_Line{ position: relative;}
.after_Line:after {
    position: absolute;
    content: "";
    bottom: -7px;
    left: 50%;
    transform: translate(-50%, 0);
    
    border-bottom: 1px solid#232323;
    width: 0;
    transition: all 0.4s ease;
    margin: 0 auto;
}

.after_Line:hover:after {
    width: 100%;
}

.equity_list_item{
    list-style: none;
    position: relative;
    padding-left: 36px;
    margin-bottom: 10px;
    font-size: 18px;
}
ul li.equity_list_item {
    padding-left: 35px !important;
}

li.equity_list_item a {
    color: #545454;
    text-decoration: none;
}

.equity_list_item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 25px;
    background-image: url('../../images/Equityicon.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 6px; ;
}

h1.equityheader {
    color: #636363;
    font-size: 45px;
    margin: 0;
    padding-top: 20px;
}

.quity_img {
    width: 40%;
}

.equity_screen {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.quity_img img {
    width: 80%;
}

p.equity_p {
    color: #9e9b9b;
    font-size: 15px;
    padding-top: 20px;
}

.equity_ul_li {
    display: flex;
    flex-flow: row;
    color: #545454;
    padding-top: 27px;
}

ul.equity_list1 {
    display: flex;
    flex-flow: column;
}

ul.equity_list2 {
    display: flex;
    flex-flow: column;
    
}

.equity_list2 ul {
    display: block;
}

.equity_list1 ul li {
    padding: 10px 0px;
}

.equity_list2 ul li {
    padding: 10px 0px;
}

.equity_list1 {
    width: 40%;
}

.equity_list1 ul {
    display: block;
}
@media (max-width: 767px){
    
    .equity_description {
        width: 100%;
    }
    
    .equity_list1 {
        width: 50%;
    }
    
    .equity_ul_li {
        padding-top: 15px;
    }
    
    .quity_img {
        width: 100%;
        text-align: center;
    }
    
    img.sticker1 {
        display: none;
    }
    h1.equityheader {
        font-size: 30px;
    }
    
    .equity_list_item {
        font-size: 14px;
    }
}