img.sticker1 {
    width: 100%;
    height: 105px;
    padding-top: 23px;
}

.hybrid_description {
    width: 55%;
}

.hybrid_list_item {
    list-style: none;
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
    font-size: 18px;
}
ul li.hybrid_list_item {
    padding-left: 35px !important;
}

li.hybrid_list_item a {
    color: #545454;
    text-decoration: none;
}

.hybrid_list_item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 25px;
    background-image: url('../../images/Hybridicon.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 6px; ;
}

h1.hybridheader {
    color: #636363;
    font-size: 45px;
    margin: 0;
    padding-top: 20px;
}

.hybrid_img {
    width: 40%;
}

.hybrid_screen {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.hybrid_img img {
    width: 100%;
}

p.hybrid_p {
    color: #9e9b9b;
    font-size: 15px;
    padding-top: 20px;
}

.hybrid_ul_li {
    display: flex;
    flex-flow: row;
    color: #545454;
    padding-top: 27px;
}

ul.hybrid_list1 {
    display: flex;
    flex-flow: column;
}

ul.hybrid_list2 {
    display: flex;
    flex-flow: column;
    
}

.hybrid_list2 ul {
    display: block;
}

.hybrid_list1 ul li {
    padding: 10px 0px;
}

.hybrid_list2 ul li {
    padding: 10px 0px;
}

.hybrid_list1 {
    width: 40%;
}

.hybrid_list1 ul {
    display: block;
}

@media (max-width: 767px){
    .hybrid_description {
        width: 100%;
    }
    
    .hybrid_ul_li {
        padding-top: 15px;
    }
    h1.hybridheader {
        font-size: 30px;
    }
    
    .hybrid_list_item {
        font-size: 14px;
    }
    .hybrid_list1 {
        width: 50%;
    }
    
    .hybrid_list2 {
        width: 50%;
    }
    
    .hybrid_img {
        width: 100%;
        padding: 0;
    }
}
